@using Microsoft.AspNetCore.Identity

<!-- PASUL 7: useri si roluri -->
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var firstName = user?.FirstName;
    var lastName = user?.LastName;
}

<head>
    <!-- Other head content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand font-logo" href="@Url.Action("Index", "Home", new { area = "" })">Backbook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white d-flex align-items-center" asp-controller="Groups" asp-action="Index">
                        <i class="bi bi-people-fill me-2"></i> Groups
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link text-white d-flex align-items-center" title="Find" id="Find" role="button" asp-controller="Users" asp-action="Index">
                        Cautare
                    </a>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown">
                        <form asp-controller="GroupMemberships" asp-action="PendingApproval" method="get" class="d-inline">
                            <button type="submit" class="btn">
                                <i class="bi bi-bell text-white"></i>
                            </button>
                        </form>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white d-flex align-items-center" title="Manage" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @firstName @lastName
                            <i class="ms-2 bi bi-gear-fill"></i> <!-- Settings Icon -->
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage Account">Account Settings</a>
                            </li>
                            <li>
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" class="m-0 p-0">
                                    <button type="submit" class="btn btn-link text-dark dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>


<!--button add post in right corner-->
@if (SignInManager.IsSignedIn(User))
{
    <div class="btn-container">
        <form asp-controller="Posts" asp-action="New" method="get" class="d-inline">
            <button type="submit" class="btn btn-primary">
                +
            </button>
        </form>
        <form asp-controller="Groups" asp-action="New" method="get" class="d-inline">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-people-fill"></i> New group
            </button>
        </form>
    </div>
}

<style>
    .btn-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    .btn-container form {
        display: inline-block;
        margin-left: 5px;
    }
</style>