@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<h1 class="text-center my-4">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <!-- Registration Form -->
    <div class="col-lg-5 col-md-6 shadow-lg p-4 rounded bg-light">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center text-secondary">Create a New Account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="alert alert-danger d-none" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Andrew" />
                <label asp-for="Input.FirstName">First name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="John" />
                <label asp-for="Input.LastName">Last name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" placeholder="0712345678" />
                <label asp-for="Input.PhoneNumber">Phone number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Description" class="form-control" autocomplete="description" aria-required="true" placeholder="Tell something about you!" />
                <label asp-for="Input.Description">Description</label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
           
            <button id="registerSubmit" type="submit" class="w-100 btn  btn-primary">
                <span class="transition"></span>
                <span class="gradient"></span>
                <span class="label">
                    Register</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
