@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    In order to finish the registration process, please <a id="confirm-link" href="@Model.EmailConfirmationUrl">click here</a>.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

